@font-face {
    font-family: 'SF Mada';
    src: url('SF-Mada.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* تطبيق الخط */
body {
    font-family: 'SF Mada', sans-serif;
}
